<h1>New Place</h1>
<%if @current_user%>

<%= form_with :model => @place do |form| %>
<div class="mb-3">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
</div>
<div class="mb-3">
    <%= form.submit "Create New Place", class: "btn btn-primary" %>
</div>
<% end %>
<%else%>
Please <a href="/login">Login</a> to post!
<%end%>